<link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />


<a class="navbar-brand" href="#"><ya-tr-span data-index="0-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Book Store" data-translation="Магазин Книг" data-type="trSpan">Магазин Книг</ya-tr-span></a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Переключение навигации">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav me-auto mb-2 mb-md-0">
        <div class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><ya-tr-span data-index="1-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Home" data-translation="Главная" data-type="trSpan">Главная</ya-tr-span></a>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="nav-item">
                <a class="nav-link active" href="/Book/Add"><ya-tr-span data-index="1-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Add" data-translation="Добавить" data-type="trSpan">Добавить</ya-tr-span></a>
            </div>
            <div class="nav-item">
                <a class="nav-link active" href="#"><ya-tr-span data-index="1-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="InSistem" data-translation="В системе" data-type="trSpan">@User.Identity.Name в системе</ya-tr-span></a>
            </div>
            <div class="nav-item">
                <form method="post" asp-controller="Account" asp-action="Logout" id="logoutform" asp-antiforgery="true">
                    <a class="nav-link active" href="#" onclick="document.getElementById('logoutform').submit()">Выход</a>
                </form>
            </div>
        }
        else
        {
            <div class="nav-itemt">
                <a class="nav-link active" href="/Account/Login"><ya-tr-span data-index="1-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Login" data-translation="Вход" data-type="trSpan">Вход</ya-tr-span></a>
            </div>
            <div class="nav-itemt">
                <a class="nav-link active" href="/Account/Register"><ya-tr-span data-index="1-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Registration" data-translation="Регистрация" data-type="trSpan">Регистрация</ya-tr-span></a>
            </div>
        }
    </div>
</div>
